{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button>ok</button>
{{ form_start(form) }}
{% endblock %}
